fastapi
uvicorn
python-multipart
boto3
pypdf
docx
langchain
openai
pinecone
python-dotenv
google-generativeai==0.8.5
pymupdf
elasticsearch
keybert
spacy
pydantic
aiohttp
pydantic-settings
neo4j
starlette
langchain-google-genai
